<div class="modal-backdrop" {{action 'close' on="touchStart"}}></div>
<div class="modal">
    {{#if step.task.timer}}
        <label>Exercise Duration (minutes)</label>
        {{input value=displayTimer type="tel"}}
    {{/if}}
    {{#if step.task.hasWeight}}
        <label>Weight Used (lbs)</label>
        {{input value=weight type="tel"}}
    {{/if}}
    <button {{action 'close' on="touchStart"}}>Cancel</button>
    <button {{action 'save' on="touchStart"}} class="primary">Save</button>
</div>
